<% @users.each do |u|%>
  <%= u.name %>
  <img src="<%= asset_path u.photo%>" alt="">
  <%= u.role%>
  <%= u.email%>
<% end %>

<div id='calendar'></div>

<script>
$('#calendar').fullCalendar({
  weekends: false // will hide Saturdays and Sundays
});  
</script>
