<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-7">
        <p>SOLUCIONES A TU ALCANCE</p>
        <small>HECHO POR ALEX PÉREZ</small>
      </div>
      <div class="col-md-4 col-sm-5">
        <ul class="social-icon">
          <li><a href="#" class="fa fa-facebook"></a></li>
          <li><a href="#" class="fa fa-twitter"></a></li>
          <li><a href="#" class="fa fa-instagram"></a></li>
          <li><a href="#" class="fa fa-pinterest"></a></li>
          <li><a href="#" class="fa fa-google"></a></li>
          <li><a href="#" class="fa fa-github"></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
